@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  /* Brown colors */
  --color-brown-50: #f2edec;
  --color-brown-100: #e8dddc;
  --color-brown-200: #d2b9b5;
  --color-brown-300: #c09791;
  --color-brown-400: #a77871;
  --color-brown-500: #825c57;
  --color-brown-600: #614440;
  --color-brown-700: #422d2a;
  --color-brown-800: #241715;
  --color-brown-900: #180e0d;
  --color-brown-950: #0c0605;

  --color-neutral-250: #e1e6e1;
  --color-orange-450: #ff7f00;
  --color-red-610: #e20613;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--starwind-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--starwind-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-accent: var(--primary-accent);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-accent: var(--secondary-accent);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-error: var(--error);
  --color-error-foreground: var(--error-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-outline: var(--outline);

  --radius-xs: calc(var(--radius) - 0.375rem);
  --radius-sm: calc(var(--radius) - 0.25rem);
  --radius-md: calc(var(--radius) - 0.125rem);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 0.25rem);
  --radius-2xl: calc(var(--radius) + 0.5rem);
  --radius-3xl: calc(var(--radius) + 1rem);

  --color-sidebar: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-outline: var(--sidebar-outline);
}

:root {
  --background: var(--color-neutral-250);
  --foreground: var(--color-brown-950);
  --card: var(--color-neutral-300);
  --card-foreground: var(--color-brown-950);
  --popover: var(--color-neutral-250);
  --popover-foreground: var(--color-brown-950);
  --primary: var(--color-red-900);
  --primary-foreground: var(--color-neutral-250);
  --primary-accent: var(--color-red-400);
  --secondary: var(--color-orange-450);
  --secondary-foreground: var(--color-brown-950);
  --secondary-accent: var(--color-brown-950);
  --muted: var(--color-brown-100);
  --muted-foreground: var(--color-brown-700);
  --accent: var(--color-brown-200);
  --accent-foreground: var(--color-neutral-250);
  --info: var(--color-sky-300);
  --info-foreground: var(--color-sky-950);
  --success: var(--color-green-300);
  --success-foreground: var(--color-green-950);
  --warning: var(--color-amber-300);
  --warning-foreground: var(--color-amber-950);
  --error: var(--color-red-700);
  --error-foreground: var(--color-neutral-50);
  --border: --alpha(var(--color-brown-900) / 10%);
  --input: var(--color-neutral-200);
  --outline: var(--color-neutral-400);
  --radius: 0.625rem;

  /* sidebar variables */
  --sidebar-background: var(--color-neutral-50);
  --sidebar-foreground: var(--color-neutral-950);
  --sidebar-primary: var(--color-blue-700);
  --sidebar-primary-foreground: var(--color-neutral-50);
  --sidebar-accent: var(--color-neutral-100);
  --sidebar-accent-foreground: var(--color-neutral-900);
  --sidebar-border: var(--color-neutral-200);
  --sidebar-outline: var(--color-neutral-400);
}

.dark {
  --background: var(--color-brown-950);
  --foreground: var(--color-neutral-250);
  --card: var(--color-brown-900);
  --card-foreground: var(--color-neutral-250);
  --popover: var(--color-orange-900);
  --popover-foreground: var(--color-neutral-250);
  --primary: var(--color-red-900);
  --primary-foreground: var(--color-neutral-250);
  --primary-accent: var(--color-red-400);
  --secondary: var(--color-orange-450);
  --secondary-foreground: var(--color-neutral-250);
  --secondary-accent: var(--color-neutral-250);
  --muted: var(--color-brown-700);
  --muted-foreground: var(--color-brown-100);
  --accent: var(--color-brown-700);
  --accent-foreground: var(--color-brown-100);
  --info: var(--color-sky-300);
  --info-foreground: var(--color-sky-950);
  --success: var(--color-green-300);
  --success-foreground: var(--color-green-950);
  --warning: var(--color-amber-300);
  --warning-foreground: var(--color-amber-950);
  --error: var(--color-red-800);
  --error-foreground: var(--color-neutral-50);
  --border: --alpha(var(--color-brown-200) / 10%);
  --input: --alpha(var(--color-brown-950) / 15%);
  --outline: var(--color-neutral-500);

  /* sidebars variables */
  --sidebar-background: var(--color-neutral-900);
  --sidebar-foreground: var(--color-neutral-50);
  --sidebar-primary: var(--color-blue-700);
  --sidebar-primary-foreground: var(--color-neutral-50);
  --sidebar-accent: var(--color-neutral-800);
  --sidebar-accent-foreground: var(--color-neutral-100);
  --sidebar-border: var(--color-neutral-800);
  --sidebar-outline: var(--color-neutral-600);
}

@layer base {
  * {
    @apply border-border outline-outline/50;
  }
  body {
    @apply bg-background text-foreground scheme-light dark:scheme-dark;
  }
  button {
    @apply cursor-pointer;
  }
}
