---
import Layout from "@/layouts/main.astro";
import Card from "@/components/Card.astro";
---

<Layout>
  <div class="wrap flex max-w-3xl flex-col gap-2">
    <h1 class="text-6xl font-bold">SanghaPunk.</h1>
    <h2 class="text-4xl">
      Uma comunidade budista revolucionária para o século 21, com um toque de Brasil.
    </h2>
    <div class="flex gap-4">
      <Card
        title="Guia SanghaPunk"
        description="Uma introdução filosófica ao budismo, sem <em>business</em> e <em>papo de coach</em>."
        imageUrl="/guia.jpg"
        href="/guia"
      />
      <Card
        title="Manifesto"
        description="O que é a SanghaPunk? Conheça."
        imageUrl="/manifesto-crop.jpg"
        href="/manifesto"
      />
    </div>
  </div>
</Layout>
