---
import Layout from "@/layouts/MainLayout.astro";
import ImageCard from "@/components/ImageCard.astro";

import Guia from "@/assets/guia.jpg";
import Manifesto from "@/assets/manifesto-crop.jpg";
---

<Layout>
  <div class="wrap max-w-3xl gap-2 md:gap-4 flex flex-col px-2">
    <h1 class="md:text-5xl text-3xl font-bold">SanghaPunk.</h1>
    <h2 class="md:text-3xl text-xl">
      Uma comunidade budista revolucionária para o século 21, de um jeito todo brasileiro.
    </h2>
    <div class="flex flex-col gap-6 md:flex-row md:gap-4">
      <ImageCard
        title="Guia SanghaPunk"
        description="Uma introdução filosófica ao budismo, sem <em>business</em> e <em>papo de coach</em>."
        imageSrc={Guia}
        href="/guia"
      />
      <ImageCard
        title="Manifesto"
        description="O que é a SanghaPunk? Conheça."
        imageSrc={Manifesto}
        href="/manifesto"
      />
    </div>
  </div>
</Layout>
