---
import Nav from "./Nav.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header class="flex items-center py-2 px-4 max-w-7xl justify-between w-full">
  <Nav />
  <div class="ml-auto">
    <ThemeIcon />
  </div>
</header>
