---
import Nav from "./Nav.astro"
import ThemeIcon from './ThemeIcon.astro';
---

<header class="px-4 py-2 flex items-center gap-4">
    
    <img src="/logo.png" alt="Logo SanghaPunk" class="h-12 w-auto" />
    <Nav />
    <div class="ml-auto">
      <ThemeIcon />
  </div>
</header>
