---
import NavItem from "./NavItem.astro";
---

<nav class="relative flex max-w-max flex-1 justify-center">
  <ul class="flex flex-1 list-none items-baseline justify-center gap-4">
    <NavItem href="/" style="text-2xl font-bold">SanghaPunk</NavItem>
    <NavItem href="/guia">Guia</NavItem>
    <NavItem href="/manifesto">Manifesto</NavItem>
  </ul>
</nav>
