---
const { href, style } = Astro.props;
const isSelected = Astro.url.pathname === href
---

<li class={`${style} ${isSelected && "border-b-2 border-primary"}`}>
  <a href={href} class={`${!isSelected && "hover:text-muted-foreground"}`}>
    <slot />
  </a>
</li>
