---
import "@/styles/global.css";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>{SITE_TITLE}</title>
    <meta name="description" content={SITE_DESCRIPTION} />
  </head>
  <body class="min-h-screen flex flex-col md:items-center">
    <Header />
    <main class="wrap flex flex-col place-items-center gap-2 px-4 py-8 max-w-7xl w-full">
      <slot />
    </main>
    <Footer />
  </body>
</html>
